<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.cloudnote.dao.NotebookTypeDao">
	<sql id="col">
        t_id AS id,
        t_name AS name,
        t_desc AS desc
	</sql>


	<select id="findNormal" resultType="com.oracle.hrb.cloudnote.entity.NotebookType">
		select <include refid="col"/>from cn_notebook_type where t_name = 'normal'
	</select>
	<select id="findSpecial" resultType="com.oracle.hrb.cloudnote.entity.NotebookType">
		select <include refid="col"/>from cn_notebook_type where t_name != 'normal'
	</select>
</mapper>
