<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.cloudnote.dao.UserDao">
	<sql id="col">
        u_id AS id,
        u_name AS name,
        u_password AS password,
        u_nickname AS nickname
	</sql>

    <insert id="add">
		insert into cn_user(u_id,u_name,u_password,u_nickname) values(#{id},#{name}, #{password}, #{nickname})
	</insert>
	<update id="update">
		update cn_user set u_password = #{password} where u_id = #{id}
	</update>

	<select id="findById" resultType="com.oracle.hrb.cloudnote.entity.User">
		select <include refid="col"/>from cn_user where u_id = #{id}
	</select>
	<select id="findByName" resultType="com.oracle.hrb.cloudnote.entity.User">
		select <include refid="col"/>from cn_user where u_name = #{name}
	</select>
	<select id="findByNickname" resultType="com.oracle.hrb.cloudnote.entity.User">
		select <include refid="col"/>from cn_user where u_nickname = #{nicaname }
	</select>
</mapper>
